<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Rock or Rest | Rocky Le - the Problem Owner & Product Builder</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Rocky</a></h1>

      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm an AHA <span>problem owner</span> from Vietnam</h2>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link active" href="#header">Home</a></li>
          <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li>
          <!--<li><a class="nav-link" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link" href="#contact">Contact</a></li>          -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="social-links">
        <a href="https://www.facebook.com/RockyLe244" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.twitter.com/RockyLe244" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>        
        <a href="https://www.linkedin.com/in/rockyle/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">

    <!-- ======= About Me ======= -->
    <div class="about-me container">

      <div class="section-title">
        <h2>About</h2>
        <p>Learn more about me</p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Dreamer, Thinker &amp; Product Builder</h3>
          <p class="fst-italic">
            I enjoy travelling, especially to very different places have something new that I can see. And I enjoy challenging the status quo.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthyear:</strong> <span>1988</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>You're HERE</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+84 385 141 205</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Hanoi, Vietnam</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>17+</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Well-educated</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>rocky@alasts.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
              </ul>
            </div>
          </div>
          <p>
            My sifu told me many times that "Show, Don't Tell", then after a few years of being a data analyst and product manager, I got bored that everybody keeps talking about startups, ideas, and innovations. And no one actually does it. 
            I'm interested in EdTech, MarTech and Gamification which makes me do trial and error to create something just valuable to the users in these fields.
          </p>
        </div>
      </div>

    </div><!-- End About Me -->

        <!-- ======= Counts ======= -->
        <div class="counts container">

          <div class="row">
    
            <div class="col-lg-4 col-md-6">
              <div class="count-box">
                <i class="bi bi-rocket-takeoff"></i>
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                <p>Product Launching</p>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="1" class="purecounter"></span>
                <p>Mentor Relationship</p>
              </div>
            </div>
    
            <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Mentoring</p>
              </div>
            </div>            
    
          </div>
    
        </div><!-- End Counts -->
    
        <!-- ======= Interests ======= -->
        <div class="interests container">
    
          <div class="section-title">
            <h2>Interests</h2>
          </div>
    
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="icon-box">
                <i class="ri-cup-line" style="color: #9b721b;"></i>
                <h3>Coffee</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
              <div class="icon-box">
                <i class="ri-goblet-line" style="color: #e036f0;"></i>
                <h3>Drinking</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
              <div class="icon-box">
                <i class="ri-game-line" style="color: #03e889;"></i>
                <h3>Game</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                <i class="ri-album-line" style="color: #e2ff61;"></i>
                <h3>Old Fashion Music</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                <i class="ri-chat-follow-up-line" style="color: #4e43ec;"></i>
                <h3>Networking</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                <i class="ri-book-line" style="color: #62db11;"></i>
                <h3>Reading</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                <i class="ri-restaurant-line" style="color: #1c9b10;"></i>
                <h3>Food</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                <i class="ri-road-map-line" style="color: #1781d8;"></i>
                <h3>Travel</h3>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-4">
              <div class="icon-box">
                <i class="ri-walk-line" style="color: #c75615;"></i>
                <h3>Walking</h3>
              </div>
            </div>            
          </div>
    
        </div><!-- End Interests -->
    
        <!-- ======= Testimonials ======= -->
        <div class="testimonials container">
    
          <div class="section-title">
            <h2>Testimonials</h2>
          </div>
    
          <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
    
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Tiến rất nhiệt tình trong công việc, em ấy có thể giúp đỡ các thành viên khác khi họ gặp khó khăn, ngay cả khi em ấy nghỉ việc, và công ty cần, khi đó em ấy vẫn rất sẵn sàng hỗ trợ công ty trong vai trò Part time, và tất nhiên việc đó đã giúp cho công ty rất nhiều. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Dương Hoàn Cầu</h3>
                  <h4>General Manager</h4>
                </div>
              </div><!-- End testimonial item -->
    
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Với khả năng tìm hiểu nhanh, quản lý nhóm tốt, em ấy giúp cho nhóm của mình hoàn thành tốt một số sản phẩm cho công ty cả về Game và web. Ấn tương ở em ấy là trầm tính, nhưng nhiệt tình trong công việc, suy nghĩ khá chắc chắn những gì mình biết.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Dương Hoàn Cầu</h3>
                  <h4>General Manager</h4>
                </div>
              </div><!-- End testimonial item -->              
    
            </div>
            <div class="swiper-pagination"></div>
          </div>
    
          <div class="owl-carousel testimonials-carousel">
    
          </div>
    
        </div><!-- End Testimonials  -->

  </section><!-- End About Section -->

  <!-- ======= Resume Section ======= -->
  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Rocky Le</h4>
            <p><em>Innovative and bold problem owner with 3+ years of practical experience designing and developing user-centered digital product from initial idea to production, and more.</em></p>
            <p>
            <ul>
              <li>Hanoi, Vietnam</li>
              <li>(+84) 385 141 205</li>
              <li>rocky@alasts.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Partnership</h3>
          <div class="resume-item">
            <h4>Product Advisor</h4>
            <h5>2022 - Preset</h5>
            <p><em>Lead The Change, Ho Chi Minh city, Vietnam</em></p>
            <p>Lead The Change is an educational organization for impact, established in 2016. Lead The Change's mission is to nurture a new generation of young leaders who confidently lead themselves. (Lead Yourself), lead others (Lead Others) and lead the future (Lead Future) through intensive domestic and international training programs.</p>
          </div>
          
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Product Manager</h4>
            <h5>2021 - 2022</h5>
            <p><em>Seedcom, Ho Chi Minh city, Vietnam </em></p>
            <p>
            <ul>
              <li>My routine exercise is driving the digital products of The Coffee House, which include the mobile app and website.</li>
              <li>At that time The Coffee House has more than 46k Diamond Users, including about 4k5 Loyalty Users.</li>
              <li>Daily revenue of digital channel thru Mobile App is about 400 mil as average (VND). It is equal to about 25% of total daily revenue.</li>
            </ul>
            </p>
          </div>
          <div class="resume-item">
            <h4>Customer Analytics Executive Seniority</h4>
            <h5>2020 - 2021</h5>
            <p><em>Son Kim Retail, Ho Chi Minh city, Vietnam</em></p>
            <p>
            <ul>
              <li>Technical leader of the Customer Information Hub project which empower the company by provide data-driven approach for customer engagement.</li>
              <li>Project coordinator of BI project which in cooperation with external solution provider to enable the business intelligence of the company.</li>              
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Resume Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
  
        <div class="section-title">
          <h2>Services</h2>
          <p>My Services</p>
        </div>
  
        <div class="row">
          <div class="col-lg-6 col-md-12 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-rocket"></i></div>
              <h4><a href="">Product</a></h4>
              <p>Offer you guidance and advice as well as ready to go along with you to build products from concept to launch and beyond further.</p>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-12 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file-find"></i></div>
              <h4><a href="">Research</a></h4>
              <p>Support and advise you to build market research scenarios in general and especially for product development.</p>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-12 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-body"></i></div>
              <h4><a href="">Coaching</a></h4>
              <p>I had received thorough and professional training, then I am fully equipped to help you challenge yourself to become a better version.</p>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-12 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-run"></i></div>
              <h4><a href="">Mentoring</a></h4>
              <p>Support you to have a clear direction then accept and pursue the opportunities on your path.</p>
            </div>
          </div>
  
        </div>
  
      </div>
    </section><!-- End Services Section -->


  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>